#map {
    height: 100%;
}

#root {
    float:left;
    width: 25%;
/*     position:absolute;
    z-index: 1; */
}

#root h2 {
    padding-left:10px;
    margin:5px;
}

#root ul {
    margin:0px;
    padding-left:30px;
}