{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/map-styles.css">
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- react -->
    <script src="/static/js/found.jsx" type="text/jsx"></script>

    <!-- map setup -->
    <script type="text/javascript" src="/static/js/found-map.js"></script>

    <!-- google maps -->
    <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5ANDUHWBtXEFwGYWHtp8MTMyLvnUymWk&callback=initMap">
    </script>
{% endblock %}